//================================================================================
// Variables

//== Colors
$gray-100:               #F6F5F4;
$gray-200:               #46464E;
$gray-300:               #58585f;

$black-100:              #000000;

$blue-600:               #3A96F0;
$blue-700:               #277fd9;
$white-100:              #fff;

$body-bg:                $white-100;


$font-size:               1.6rem;

//== Typography
//
//## Font, line-height, and color for body text, headings, and more.

$font-family-primary:   'Roboto Slab',Arial,sans-serif;
$font-family-secondary: 'Roboto',Arial,sans-serif;
$text-heading-color:     $blue-700;
$text-default-color:     $gray-300;

$link-color:    $blue-600;